<!--sobre o sistema-->

<!--teste-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{url_for('registrar_ocorrencia')}}">Ocorrência</a></li>
            <li><a href="{{ url_for('sair') }}">Logout</a>
            <li><a href="{{ url_for('listar_ocorrencias') }}">Lista ocorrencia</a>
            <li><a href="{{ url_for('login_usuario') }}">login</a>
          

           
        </ul>
    </nav>
</body>
</html>